* {
    padding: 0;
    margin: 0;
}

/* Menú Bar */

.container__menu {
    height: 40px;
    background: var(--main-bg-gradient);
    padding: 0px 20px;
    z-index: 10;
    

}

.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.nav-menu {
    height: 100%;

}

.nav-menu>ul {
    height: 100%;
    display: flex;

}

.nav-menu ul li {
    height: 100%;
    list-style: none;
    position: relative;

}

.nav-menu>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 0px 20px;
    transition: all 100ms ease;

}

.nav-menu>ul>li>a:hover {
    transform: scale(1.1);
    background: var(--main-bg-color);
    color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

}

.menu-li {
    margin: 0 35px;

}

/* SubMenu */

.nav-menu ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #d6d6d6;
    position: absolute;
    top: 70px;
    left: -5px;
    padding: 8px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: all 300ms ease;
    border-radius: 0px 0px 10px 10px;
}

.nav-menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 43px;
}

.nav-menu ul li ul::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #d6d6d6;
    position: absolute;
    top: -12px;
    left: 20px;
}


.nav-menu ul li ul li a {
    display: block;
    color: var(--main-bg-color);
    padding: 6px 0px;
    padding-left: 20px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    transition: all 300ms ease;
    text-decoration: none;
    text-align: left;

}

.nav-menu ul li ul li a:hover {
    background: var(--main-bg-color);
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}